<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login</title>
   <link rel="stylesheet" href="Style.css">
</head>

<h1 align="center" color="red"> <p style="color:red"> {{logininfo}}</h1>
 <div>
   <form action="" method="post">
      <h3>login now</h3>
      <p>your email <span>*</span></p>
      <input name="email"  type="email" id="email" placeholder="Enter your email" required maxlength="200" class="box"><br>
      <p>Your password <span>*</span></p>
      <input name="password"  type="password" placeholder="enter your password" required maxlength="200" class="box"><br>
      <input type="submit" value="login new" class="btn"><br>
   </form>
</div>

</section>
</body>
</html>